@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: anzo1;
    src: url(./assets/file1.woff2);
}
@font-face {
    font-family: anzo2;
    src: url(./assets/file2.woff2);
}
@font-face {
    font-family: anzo3;
    src: url(./assets/file3.woff2);
}
@font-face {
    font-family: anzo4;
    src: url(./assets/file4.woff2);
}
@font-face {
    font-family: anzo5;
    src: url(./assets/file5.woff2);
}
@font-face {
    font-family: anzo;
    src: url(./assets/madefor-text.var.original.woff2);
}
#ppp{
    perspective: 900px;
}
@media (max-width: 768px) {
    #ppp{
        background: url('https://static.wixstatic.com/media/f1c650_552089a680944555a3150f5c2ca2c98b~mv2.png/v1/fill/w_686,h_2289,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Anzo%20Dark%20Mode.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: left;
        background-image: linear-gradient(to bottom, black), url('https://static.wixstatic.com/media/f1c650_552089a680944555a3150f5c2ca2c98b~mv2.png/v1/fill/w_686,h_2289,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Anzo%20Dark%20Mode.png');
    }
}

#ttt{
   z-index: -10;
   position: relative;
}
.section2{
    perspective: 3000px;
    position: relative;
}
.same{
    transform-origin: 100% 70%;
}
